@font-face {
    font-family: 'freightbig_medium_italic';
    src: url('fonts/freight-big-medium-italic-webfont.woff2') format('woff2'),
         url('fonts/freight-big-medium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  --thumbBG: #FFFFFF;

}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body{
  background-color: #e9e6df;
  font-family: 'Poppins', serif;
  font-style: italic;
  font-size: 18px;
  color: #2e5815;
  font-weight: 700;
}

h1{
  font-family: 'freightbig_medium_italic', serif;
  font-size: 110px;
  color: #212121;
}

h2{
  font-family: 'freightbig_medium_italic', serif;
  color: #212121;
  font-size: 50px;
}
h3{
  font-family: 'freightbig_medium_italic', serif;
  font-size: 36px;
    color: #212121;
}
h4{
  font-family: 'freightbig_medium_italic', serif;
  letter-spacing: 1px;
  font-size: 28px;
  color: #212121;
}
h5{
  font-family: 'freightbig_medium_italic', serif;
}

p{
  color: #212121;
}

u {
   text-decoration: none;
   border-bottom: 5px solid black;
 }​

nav{
  border-bottom: solid 1px #000000;
}

.navbar-light .navbar-nav .nav-link{
  color: #2e5815;
}

.whatIdo{
}
/* unvisited link */
a:link {
  color: #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #2e5815;
}

/* mouse over link */
a:hover {
  background-color: #e9e6df;
  color: #2e5815;
}

/* selected link */
a:active {
  color: #FFFFFF;
}

a.nav-link{
  font-family: 'freightbig_medium_italic', serif;
  font-size: 20px;
  letter-spacing: 2px;
}

footer{
  padding-top: 10px;
  border-top: solid 1px #000000;
  background-color: #212121;
  text-align: center;
  font-size: 13px;
  font-family: 'freightbig_medium_italic', serif;
  letter-spacing: 1px;
  color: #2e5815;
}

footer li,h5,ul{
  color:#e9e6df;
}

footer a:hover {
  font-family: 'Poppins', serif;
  background-color: #2e5815;
}

footer a:link{
  font-family: 'Poppins', serif;
  color: #2e5815;
  font-weight: 600;

}

footer a:visited{
  font-family: 'Poppins', serif;
  color: #e9e6df;
}

footer a:active {
  font-family: 'Poppins', serif;
  font-weight: 600;
  color: #2e5815;
}

.footerName{
  font-family: 'freightbig_medium_italic', serif;
  color: #e9e6df;
}
.fab{
  padding-right: 10px;
  font-size: 20px;
}
.skillsLanguages, .skillsOS{
  padding-left: 50px;
}

.socialIcons a:link{
  color:#e9e6df;
  font-weight: 400;
  letter-spacing: 5px;
}

.contactIcons a:link{
  color:#000000;
}

.footerEmailIcon {
  color: #e9e6df;
  font-size: 20px;
  font-family: 'Poppins', serif;
}

.far a:link  {
  font-family: 'Poppins', serif;
}

#selfPortrait{
  height: 200px;
  border-radius: 100px;
}

#homeEmail{
  letter-spacing: 1px;
}

#homePageName{
  font-size: 70px;
  margin-bottom: 0px;

}
#homeParagraph{
  margin: 30px;
  font-weight: 500;
  text-align: left;
  font-size: 22px;
  padding-left: 80px;
  padding-right: 80px;
  /*position: absolute;*/

}

#homeLocation{
  color: #000000;
  font-family: 'Poppins', serif;
  font-size: 22px;

}
#contactPortrait{
padding-left: 50px;
}
.designsLeftCol{
  padding-left: 150px;
}
.homeContact, .homeContact a:link {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  line-height: 0px;
}
 .homeContact a:visited {
   color: #e9e6df;

 }

.homeContact a:hover{
  color: #212121;
}


.skillsLanguages, .skillsSoftware, .skillsOS, .skillsSpanish{
  font-family: 'freightbig_medium_italic', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 35px;
  color: #000000;
}

.skillsLangSec, .skillsOS, {
  margin-left: 50px;
}

.skillsTitle{
  margin-top: -50px;
}

.homeIcons{
  height: 45px;
  margin-top: 10px;
  padding-right: 20px;

}

.homeLeftDiv{
  padding-right: 0px;
  padding-left: 0px;
}

.skillsDiv, .designsDiv{
  padding-left: 0px;
  padding-right: 0px;
}
.navBarBorder{
  border-bottom: solid 1px #000000;
}

.designColumns{
}
/* ---- MEDIA QUERIES ---- */
/* -- full desktop -- */
@media(min-width:1200px){

}

/* -- small desktop -- */
@media(max-width:1199px) and (min-width:980px){

}

/* -- tablet -- */
@media(max-width:979px) and (min-width:768px){

}

/* -- mobile -- */
@media(max-width:767px){


}
/* ---- END Media Queries ---- */
